@media  screen and (max-width:600px) {
                header {
                                margin: 0 45px; 
                }
                        
                .header-content {
                                gap: 5px; 
                }
                        
                .logo {
                                gap: 3px;
                }
                .hide{
                                display: none;
                }
                        
                nav > ul {
                                flex-direction: column; 
                }
                        
                li {
                                margin: 0;
                                margin-top: 5px; 
                                font-size: 1.1rem; 
                }
                 main {
                                margin: 0 45px; 
                }
                .banner-1{
                                height: 75vh;
                }
                .banner-1 input{

                                width: 250px;
                                height: 46px;
                                border-radius: 8px;
                                background: #FFF;
                                border: 1px solid white;
                                font-size: 1rem;
                                margin-bottom: 20px;
                                color: gray;
                                font: 18px;
                                font-weight: 500;
                }      
                .banner-1 h1 {
                                font-size: 2rem;

                }
                        
                .banner-1 p {
                                font-size: 0.9rem; 
                                line-height: 18px;
                                margin-top: 10px;
                }
                        
                .banner-content {
                                margin-top: 40px; 
                }
                        
                .search {
                                padding: 35px;
                                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                                height: 50%;
                                width: 80%;
                                margin-top: 60px;
                                
                               
                               
                }
                .search input{
                                display: flex;
                                flex-direction: column;
                               
                                
                }
                .btn-primary{
                                margin-top: 10px;
                                width: 250px;
                                height: 46px;
                                font-size: 18px;
                                color: black;
                                font-weight: 500;
                }
                #hide{
                                display: none;
                }
                .banner-2 {
                                margin-top: 10px;
                                flex-direction: column;
                               
                }
                        
                .banner-content-2 {
                                max-width: 100%;
                                margin-left: 0px;
                                margin-right: 0px;

                }
                        
                .banner-2-img {
                                width: 100%; 
                                height: auto;
                                margin-top: 20px;
                }
                        
                .banner-2 h2 {
                                font-size: 1.8rem;
                                margin-bottom: 8px;
                }
                        
                .banner-2 p {
                                font-size: 1.2rem;
                                line-height: 25px;
                                margin-bottom: 8px;
                                padding: 10px;
                                color: black;
                }
                        
                 .banner-content-2 > ul > li {
                                margin-bottom: 8px; 
                                padding: 0;
                                
                }
                li{
                                padding: 25px;
                                list-style-type: disc;
                }
                .btn-secondary{
                                width: 160px;
                                height: 46px;
                                border-radius: 8px;
                                background: #FF5400;
                                border: none;
                                font-size: 1rem;

                }
                .banner-3 {
                                margin-top: 30px;
                }
                        
                .banner-3 h2 {
                                font-size: 26px;
                }
                        
                .banner-3 p {
                                font-size: 14px; 
                                line-height: 22px;
                                margin-bottom: 10px;
                }
                .banner-3 img{
                                max-width: 100%;
                                height: auto;            
                }
                .img-2{
                                /* flex-direction: column; */
                                display: grid;
                                grid-template-columns: repeat(1,1fr);
                                margin-top: 20px;
                                max-height: auto; 
                                margin-bottom: 60px;
                                         
                              
                }
              
                .img-3{
                                /* flex-direction: column; */
                                /* max-height: auto;  */
                                max-width: 100%;
                                display: grid;
                                grid-template-columns: repeat(1,1fr);
                               
                }
                .img-4{
                                display: grid;
                                grid-template-columns: repeat(1,1fr);
                              
                                margin-top: 0px;
                                
                }
                .img-2 p{
                                position:relative;
                                bottom: 120px; 
                                font-size: 24px;
                                color: #f0f0f4;  
                }
                 .img-3 p{
                                position:relative;
                                bottom: 140px; 
                                font-size: 24px;
                                color: #f0f0f4;
                } 
                .img-4 p{
                                position:relative;
                                bottom: 110px; 
                                font-size: 24px;
                                color: #f0f0f4; 
                } 
               
                .banner-4 {
                                /* margin-top: 1320px */
                                /* max-width: 100%; */
                               
                
                
                }
                        
                .banner-4 h2 {
                                font-size: 1.8rem;
                                margin-bottom: 10px;
                }
                        
                .banner-4 p {
                                font-size: 12px; 
                                line-height: 18px;
                                margin-bottom: 28px; 
                }
                        
                .pink {
                                gap: 20px;
                                flex-direction: column;
                               
                                
                                
                }
                .pink-1 ,.pink-2,.pink-3{
                                height: auto;
                                max-width: 100%;
                                text-align: start;
                }
                .pink-1,
                .pink-2,
                .pink-3 h2{
                                font-size: 24px;
                                font-weight: 500px;
                }
                .pink-1,
                .pink-2,
                .pink-3 p{
                                font-size: 14px;
                                font-weight: 500px;             
                }

                        
                .pink-1,
                .pink-2,
                .pink-3 {
                               
                               
                                align-items: start;
                                

                                
                }
                        
                
                .banner-5 { 
                               
                                flex-direction: column;
                                margin-bottom: 60px;
                                border: 2px solid red;
                }
                        
                .banner-content-5 {
                                width: 90%; 
                }
                        
                .banner-5 h2 {
                                font-size: 1.8rem; 
                                line-height: 30px; 
                                margin-top: 20px;
                                margin-bottom: 10px;
                }
                        
                .banner-5 p,
                .banner-5 li {
                                font-size: 16px; 
                                line-height: 20px;
                                margin-bottom: 8px;
                }
                .btn-secondary{
                                margin-left:-16px ;
                                margin-bottom: 20px;
                }

                        
                          
                        
                        
              




              
}