*{
                margin: 0px;
                padding: 0 ;
                box-sizing: border-box;
                font-family: 'Mulish', sans-serif;
                
}

header{
                margin: 0 120px;
                height: 6vh;
              

               
}
.menu-bar{
  display: none;
  

}
.header-content{
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 40px;
               
}
.logo{
                display: flex;
                align-items: center;
                gap: 5px;
}
.header-content img{
                
                height:35px ;
                width: 38px;

}

nav >ul{
                display: flex;
                text-decoration: none;
               
        
}
li{
                list-style: none;
                margin-left: 20px;
                font-size: 1.2rem;
                font-weight: 500;
               
}

/* banner section style */
main{
                margin: 0 120px;
}

.banner-1{
                height: 75vh; 
               
                display: flex;
                flex-direction: column;
                background: linear-gradient(rgba(0, 0, 0, 0.707), rgba(255, 255, 255, 0)), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
                
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                align-items: center;
                justify-content: center;
}
.banner-1 h1{
                color: #FFF;
                font-size: 4rem;
                font-weight: 700;
               

}
.banner-1 p{
                color: #FFF;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 26px;
}
.banner-content{
                
                text-align: center;
                align-items: center;
                           

}

.search{
              
                display: flex;
                gap: 10px;
                justify-content: space-around;
                padding: 25px;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 8px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0.3);
                margin-top: 40px;
                /* align-items: center; */
               
}
.banner-1 input{

               
               
                width: 160px;
                height: 40px;
                border-radius: 8px;
                background: #FFF;
                border: 1px solid white;
                font-size: 1rem;
                gap: 20px;
}
.btn-primary{
                width: 160px;
                height: 40px;
                border-radius: 8px;
                background: #FF5400;
                border: none;
                font-size: 1rem;
}

.search i {
                margin-left: -20px;
}
/* banner two style */

.banner-2{


   
                display: flex;
                margin-top: 40px;
                justify-content: space-between;
                align-items: center;
                
}

.banner-2 img{
                max-width: 100%;
                height: auto;
                border-radius: 16px;
               

}
.banner-content-2{
                max-width: 50%;
                height: auto;
}
.banner-2 h2 {
                color: #131318;
                text-align: start;
                font-size: 2.4rem;
                font-weight: 800;
                padding-left: 10px;
               
                 
}
.banner-2 p{
                color: rgba(19, 19, 24, 0.70);
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 26px;
                margin-bottom: 20px;
                padding-left: 10px;
}
.banner-content-2 > ul >li{
                list-style: disc;
                color:rgba(19, 19, 24, 0.70) ;
                margin-bottom: 20px;
                margin-left: 20px;
}
.btn-secondary{
                width: 160px;
                height: 46px;
                border-radius: 8px;
                background: #FF5400;
                border: none;
                font-size: 1rem;
                margin-left: 10px;

}
  /* banner-3 style  */

.banner-3{
            margin-top: 40px;  
            text-align: center;  
            margin-bottom: 0px;
            max-width: 100%;
            
}  

.banner-3  h2{
                color: #131318;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                
}
.banner-3  p{
             
                color: rgba(19, 19, 24, 0.70);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                margin-bottom: 50px;   
}

.img-2{
                display: flex;
                justify-content: center;
                gap: 10px;
                max-width: 100%;
                height: auto;
             
}
.img-2  p{
                position: relative; 
                bottom: 180px;
                font-size: 28px;
                color: #f0f0f4;
            
}
.img-3{
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-top: -60px;
                max-width: 100%;
                height: auto;
                
               
}
.img-3 p{
                position: relative; 
                bottom: 180px;
                font-size: 28px;
                color: #f0f0f4;
}
.img-4{
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-top: -60px;   
                max-width: 100%;  
                height: auto;
}
.img-4 p{
                position: relative; 
                bottom: 180px;
                font-size: 28px;
                color: #f0f0f4;  
}

/* banner-4 style */
.banner-4{
    
  text-align: center;  
  margin-bottom: 60px;
  max-width: 100%;
  
}

.banner-content-4{
  max-width: 100%;
  /* margin-top: 250px; */
}
.banner-4  h2{
  color: #131318;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  
}

.banner-4  p{

  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;   
}
.pink{
  display: flex;
  
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}
.pink-1{
  width: 575px;
  height: 280px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);
  padding: 15px;
  
}
.pink-2{
  width: 575px;
  height: 280px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
  padding: 15px;
}
  
.pink-3{
  width: 575px;
  height: 280px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
  padding: 15px;
  
  
  
}

/* banner-5 style */

.banner-5{
                
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}
.banner-content-5{
                display: flex;
                align-items: start;
                flex-direction: column;
                max-width: 100%;
}
.banner-5 h2{
  color: #131318;

  font-size: 40px;

  font-weight: 800;
  line-height: 60px; 
}
.banner-5 p{
  color: #5A5A5D;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 26px; 
 margin-bottom: 20px;
}
.banner-5 li {
  list-style: disc;
  color: #131318;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px; 
  margin-bottom: 20px;
}

/* banner 6 style */
.banner-6{
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;

}
.banner-content-6{
  width: 480px;
  height: 420px;
  border-radius: 16px;
  border: 1px solid #FF5400;
  text-align: start;
  padding: 20px;
  
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.banner-6 input{
width: 393px;
height: 52px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: 1px solid gray;
margin-top: 20px;
font-size: 16px;

}
.btn-tertiary{
  width: 393px;
height: 52px;
border-radius: 8px;
background: #FF5400;
margin-top: 20px;
border:none;
font-size: 16px;
}
.banner-content-6 h2{
  color: #131318;

font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.banner-content-6 p{
  color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}

.offer{
  width: 224px;
height: 80px;
transform: rotate(-40deg);
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
text-align: center;
position: relative;
bottom: 160px;
left: 210px;


}