*{
                margin: 0px;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Mulish', sans-serif;
                max-width: 100%;
}

header{
                margin: 0 140px;
                height: 10vh;
              

               
}
.header-content{
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 40px;
               
}
.logo{
                display: flex;
                align-items: center;
                gap: 5px;
}
.header-content img{
                
                height:35px ;
                width: 38px;

}

nav >ul{
                display: flex;
                text-decoration: none;
               
        
}
li{
                list-style: none;
                margin-left: 20px;
                font-size: 1.2rem;
                font-weight: 500;
               
}

/* banner section style */
main{
                margin: 0 140px;
}

.banner-1{
                height: 90vh; 
                width: 100%;
                display: flex;
                flex-direction: column;
                background: linear-gradient(rgba(0, 0, 0, 0.707), rgba(255, 255, 255, 0)), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
                
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                align-items: center;
}
.banner-1 h1{
                color: #FFF;
               font-size: 4rem;
               font-weight: 700;
               margin-top: 50px;

}
.banner-1 p{
                color: #FFF;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 26px;
}
.banner-content{
                
                text-align: center;
                align-items: center;
                margin-top: 220px;            

}

.search{
              
                display: flex;
                justify-content: space-around;
                height: 80px;
                padding: 20px;
                /* From https://css.glass */
                background: rgba(255, 255, 255, 0.2);
                border-radius: 8px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0.3);
                margin-top: 40px;
                align-items: center;
               
}
.banner-1 input{

                width: 160px;
                height: 46px;
                border-radius: 8px;
                background: #FFF;
                border: 1px solid white;
                font-size: 1rem;
                gap: 20px;
}
.btn-primary{
                width: 160px;
                height: 46px;
                border-radius: 8px;
                background: #FF5400;
                border: none;
                font-size: 1rem;
}

.search i {
                margin-left: -20px;
}
/* banner two style */

.banner-2{
                display: flex;
                margin-top: 40px;
                justify-content: space-between;
                height: 60vh;
}
.banner-2-img{
                width: 540px;
                height: 550px;
                border-radius: 16px;
               

}
.banner-content-2{
                width: 50%;
}
.banner-2 h2 {
                color: #131318;
                text-align: start;
                font-size: 2.4rem;
                font-weight: 800;
                margin-bottom: 20px;
                 
}
.banner-2 p{
                color: rgba(19, 19, 24, 0.70);
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 26px;
                margin-bottom: 20px;
}
.banner-content-2 > ul >li{
                list-style: disc;
                color:rgba(19, 19, 24, 0.70) ;
                margin-bottom: 20px;
}